<template name="toolbarSection">
    <div class="toolbarSection noselect p-x-2">
        <div class="clearfix">
            <div class="pull-left m-t-1">
                {{>roundedButtonGroup leftSidebarToggleButtonData}}
            </div>
            {{>toolbarSectionTools toolbarButtons=toolbarButtons}}
            <!-- TODO: Maybe measurements table will be merged with the ROI/Masks interfaces in the future?
            <div class="pull-right m-t-1 rm-x-1">
                {{>roundedButtonGroup rightSidebarToggleButtonData}}
            </div>
            -->
        </div>
    </div>
</template>
