<template name="toolbarSection">
    <div class="toolbarSection noselect p-x-2">
        <div class="clearfix">
            <div class="pull-left m-t-1">
                {{>roundedButtonGroup leftSidebarToggleButtonData}}
            </div>
            {{>toolbarSectionTools toolbarButtons=toolbarButtons}}
            <!-- TODO -> Measurement table removed until we have complete support for DICOM SR.
            <div class="pull-right m-t-1 rm-x-1">
                {{>roundedButtonGroup rightSidebarToggleButtonData}}
            </div>
            -->
        </div>
    </div>
</template>
