<template name="flexboxLayout">
    <div class="viewerSection">
        <div class="sidebarMenu sidebar-left {{#if leftSidebarOpen}}sidebar-open{{/if}}">
            {{#if leftSidebarScanList}}
              {{>studyBrowser (clone this)}}
            {{/if}}
            {{#if leftSidebarChangeSession}}
              {{>xnatNavigation}}
            {{/if}}
        </div>
        <div class="mainContent {{#if leftSidebarOpen}}sidebar-left-open{{/if}} {{#if rightSidebarOpen}}sidebar-right-open{{/if}}">
            {{>standaloneViewerMain (clone this)}}
        </div>


        <div class="sidebarMenu sidebar-right {{#if rightSidebarOpen}}sidebar-open{{/if}}">
          {{#if rightSidebarRoiContourMenu}}
            <div id="roiContourMenu" class="roi-contour-menu">
              {{> React component=RoiContourMenu
                key=roiContourMenuId
                importCallback=roiContourMenuImportCallback
                exportCallback=roiContourMenuExportCallback
              }}
            </div>
          {{/if}}
          {{#if rightSidebarSegmentationMenu}}
            <div id="segmentationMenu" class="segmentation-menu">
              {{> React component=SegmentationMenu
                key=segmentationMenuId
                importCallback=segmentationMenuImportCallback
                exportCallback=segmentationMenuExportCallback
              }}
            </div>
          {{/if}}
        </div>

    </div>
</template>
