<template name="flexboxLayout">
    <div class="viewerSection">
        <div class="sidebarMenu sidebar-left {{#if leftSidebarOpen}}sidebar-open{{/if}}">
            {{#if leftSidebarScanList}}
              {{>studyBrowser (clone this)}}
            {{/if}}
            {{#if leftSidebarChangeSession}}
              {{>xnatNavigation}}
            {{/if}}
        </div>
        <div class="mainContent {{#if leftSidebarOpen}}sidebar-left-open{{/if}} {{#if rightSidebarOpen}}sidebar-right-open{{/if}}">
            {{>standaloneViewerMain (clone this)}}
        </div>


        <div class="sidebarMenu sidebar-right {{#if rightSidebarOpen}}sidebar-open{{/if}}">
          {{#if rightSidebarRoiContourMenu}}
            {{>roiContourMenu}}
          {{/if}}
          {{#if rightSidebarSegmentationMenu}}
            {{>segmentationMenu}}
          {{/if}}
        </div>

    </div>
</template>
