<template name="standaloneViewer">
    {{#header}}
        {{#section 'brand'}}
        <svg class="logo-image">
            <use xlink:href={{absoluteUrl "packages/icr_xnat-roi/assets/icons.svg#icon-xnat-ohif-logo"}}></use>
        </svg>
        <svg class="logo-image-icr">
            <use xlink:href={{absoluteUrl "packages/icr_xnat-roi/assets/icons.svg#icon-icr-logo"}}></use>
        </svg>
        <div class="logo-text">OHIF-XNAT Viewer 2.0.0</div>
        {{/section}}
        <!-- TODO: options removed for now, may be made more compatible to XNAT-OHIF version in the future.
        {{#section 'headerMenu'}}
            <span class="header-options pull-left m-r-1">Options</span>
            <div class="menu-toggle pull-right">
                <span class="caret-down"></span>
            </div>
        {{/section}}
        -->
    {{/header}}
    {{>viewer}}
</template>
